<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!--In TestNG framework, we need to create Testng xml file to run and handle
multiple test classes. TestNG.xml file is an XML file which contains all the
test configuration and this XML file can be used to run and organize our
test.
In testng.xml file, we configure our test run, set test dependency, include
or exclude any test, method, class or package and set priority etc
Testng.xml file is also is used for TestNG Parameters. TestNG
Parameters are the arguments that we pass to the test methods-->
  <test thread-count="5" name="Test">
    <classes>
      <class name="SeleniumPackage.Ajax"/>
 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
